html
  head
  link(rel="stylesheet" href="/css/bootstrap.min.css")
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  title!= title
  
  body
  include nav
  div(class="container")
    div(class="jumbotron")
      h1!= header_title
      p!= header_text